:root {
  --font-inter: 'Inter', sans-serif;
  --color-background-dark: #121212;
  --color-surface-dark: #1e1e1e;
  --color-text-light: #e0e0e0;
  --color-text-secondary: #a0a0a0;
  --color-primary: #8b5cf6; /* Roxo */
  --color-secondary: #3b82f6; /* Azul */
  --color-accent: #f59e0b; /* Amarelo/Laranja */
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

p {
  line-height: 1.6;
}

ul,
li {
  list-style: none;
}
